{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="flex justify-center items-center py-12 px-4 sm:px-6 lg:px-8">
<div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-2xl border border-gray-100">
<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
アカウントにログイン
</h2>
<form class="mt-8 space-y-6" method="POST" action="{{ url_for('login') }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <!-- ユーザー名 -->
        <div>
            {{ form.username.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.username(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder="ユーザー名") }}
            {% for error in form.username.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- パスワード -->
        <div>
            {{ form.password.label(class="block text-sm font-medium text-gray-700 mt-4") }}
            {{ form.password(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder="パスワード") }}
            {% for error in form.password.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="flex items-center justify-between">
            <!-- ログイン状態を維持 -->
            <div class="flex items-center">
                {{ form.remember_me(class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded") }}
                {{ form.remember_me.label(class="ml-2 block text-sm text-gray-900") }}
            </div>
            <!-- パスワードを忘れた場合 -->
            <div class="text-sm">
                <a href="{{ url_for('forgot_password') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                    パスワードを忘れた場合
                </a>
            </div>
        </div>

        <div>
            {{ form.submit(class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 cursor-pointer") }}
        </div>
    </form>
    <div class="text-center text-sm">
        アカウントをお持ちでないですか？
        <a href="{{ url_for('signup') }}" class="font-medium text-indigo-600 hover:text-indigo-500">サインアップ</a>
    </div>
</div>

</div>
{% endblock %}
