{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="flex justify-center items-center py-12 px-4 sm:px-6 lg:px-8">
<div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-2xl border border-gray-100">
<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
新規アカウント登録
</h2>
<form class="mt-8 space-y-6" method="POST" action="{{ url_for('signup') }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <!-- ユーザー名 -->
        <div>
            {{ form.username.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.username(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder="ユーザー名 (2~20文字)") }}
            {% for error in form.username.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- パスワード -->
        <div>
            {{ form.password.label(class="block text-sm font-medium text-gray-700 mt-4") }}
            {{ form.password(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder="パスワード (6文字以上)") }}
            {% for error in form.password.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>

        <!-- パスワード確認 -->
        <div>
            {{ form.confirm_password.label(class="block text-sm font-medium text-gray-700 mt-4") }}
            {{ form.confirm_password(class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder="パスワード（確認用）") }}
            {% for error in form.confirm_password.errors %}
                <span class="text-red-500 text-xs">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.submit(class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 cursor-pointer") }}
        </div>
    </form>
    <div class="text-center text-sm">
        アカウントをすでにお持ちですか？
        <a href="{{ url_for('login') }}" class="font-medium text-indigo-600 hover:text-indigo-500">ログイン</a>
    </div>
</div>

</div>
{% endblock %}
